<web-app>
    <servlet>
        <servlet-name>PesquisarUsuariosServlet</servlet-name>
        <servlet-class>br.com.consulta.servlet.PesquisarUsuariosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisarUsuariosServlet</servlet-name>
        <url-pattern>/PesquisarUsuariosServlet</url-pattern>
    </servlet-mapping>
</web-app>
